In [ ]:
# Data Cleaning
import pandas as pd

df = pd.read_excel(r"Customer Call List.xlsx")

# drop duplicates
# save it to the data frame variable
df = df.drop_duplicates()

# drop unecessary column named not useful column
df = df.drop(columns="Not_Useful_Column")

# clean unecessary strings etc.
# strip takes from both sides
# lstrip for left side and rstrip for right side

# takes away white spaces by default
# df["Last_Name"].str.strip()

# df["Last_Name"].str.lstrip("...")

# apply the changes only to the column that's why df["Last_Name"] 
# df["Last_Name"] = df["Last_Name"].str.lstrip("...")
# df["Last_Name"] = df["Last_Name"].str.strip("/")
# df["Last_Name"] = df["Last_Name"].str.rstrip("_")

# another way to do it in only one line
# remove any numbers which are 1, 2, 3, ., _, and /
df["Last_Name"] = df["Last_Name"].str.strip("123._/")

# df

In [ ]:
# Working with Phone Numbers
# use replace and regex or regular experession

# the regex character means to replace
# any character except anything A to z upper or lowercase and any value 0 to 9
# df["Phone_Number"] = df["Phone_Number"].str.replace('[^a-zA-Z0-9]', '', regex=True)

# do the same thing but using a lambda
# change it to strings first before using lambda
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: str(x))

# Remove all non-numeric characters (including dashes, slashes, etc.)
df["Phone_Number"] = df["Phone_Number"].str.replace(r'[^0-9]', '', regex=True)

# what this does is basically add a dash to the first set of 3 numbers and then add a dash to 4 numbers at the end
# df["Phone_Number"] = df["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])

# another way to do it which removes Nan values
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10] if len(x) == 10 else x)

# removing Nan values can also be done using replace
# df["Phone_Number"] = df["Phone_Number"].str.replace('nan--', '')
# df["Phone_Number"] = df["Phone_Number"].str.replace('Na', '')

# seperate the addresses by columns
# Convert the column to string and fill NaN with empty string
df["Address"] = df["Address"].fillna('').astype(str)

# Split the addresses into two columns (splitting at the first comma)
# n=1 only splits at the first comma
df[["Street_Address", "State", "Zip Code"]] = df["Address"].str.split(',', n=2, expand=True)

# to get the original data set back
# df = pd.read_excel(r"Customer Call List.xlsx")

df

In [ ]:
# Paying customer
# change yes and no to y and n and so on
df["Paying Customer"] = df["Paying Customer"].str.replace('Yes', 'Y')
df["Paying Customer"] = df["Paying Customer"].str.replace('No', 'N')

# Do the same thing to the Do not contact column
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('Yes', 'Y')
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('No', 'N')

# remove Na's manually or use fillna across the whole data set
# df = df.replace('N/a', '')
# df = df.replace('NaN', '')
df = df.fillna('')

# if its blank then give them a call
# what this does is basically loop through the index of the Do not Contact column
# after which it checks if there is a why and if yes then delete rows with the Y's hence
# the result is leaving only the N's in the column which are people who need to be contacted
for x in df.index:
    if df.loc[x, "Do_Not_Contact"] == 'Y':
        df.drop(x, inplace=True)

# if the value is blank then give it an N
df['Do_Not_Contact'] = df['Do_Not_Contact'].replace('', 'N')

df

In [ ]:
# Final Output 

# do the same thing with Phone number

# get rid of it if the value is blank
# for x in df.index:
#     if df.loc[x, "Phone_Number"] == '':
#         df.drop(x, inplace=True)

# another way to do it
df.dropna(subset="Phone_Number", inplace=True)

# drops the original index and replaces it so intead of random indexes it becomes 0-12
df = df.reset_index(drop=True)

df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column,Street_Address,State,Zip Code
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,N,True,123 Shire Lane,Shire,
1,1003,Walter,White,706-695-0392,298 Drugs Driveway,N,N,True,298 Drugs Driveway,,
2,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,N,True,123 Dragons Road,,
3,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,N,False,98 Clue Drive,,
4,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,N,True,25th Main Street,New York,
5,1012,Harry,Potter,706-695-0392,2394 Hogwarts Avenue,Y,N,True,2394 Hogwarts Avenue,,
6,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N,False,2039 Main Street,,
7,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,N,False,343 City Parkway,,
8,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,N,False,214 HR Avenue,,
9,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,False,2395 Hogwarts Avenue,,
10,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,N,False,121 Paper Avenue,Pennsylvania,
11,1018,Clark,Kent,706-695-0392,3498 Super Lane,Y,N,True,3498 Super Lane,,
12,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Y,N,True,910 Tatooine Road,Tatooine,